/* =====================global======================= */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #212121;
    background-color: #FFFFFF;

}

:root {
    --maim-color: #212121;
    --secondary-color: #757575;
    --corporate-color: #2196F3;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --bg-color: #F5F4FA;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.name-section {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
}

/* =====================index.html======================= */


.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--corporate-color);
}

.logo-header-part {
    color: var(--black-color);
}

.logo-footer-part {
    color: var(--white-color);
}

.navigations {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;   
    color: var(--maim-color);
}

.accent {
    color: var(--corporate-color);
}

.navigations:hover,
.navigations:focus,
.contacts-header:hover,
.contacts-header:focus,
.contacts-footer:hover,
.contacts-footer:focus {
    color: var(--corporate-color);
}

.contacts-header {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}


.hero {
    background: #2F303A;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
}

.hero-btn {
    width: 200px;
    height: 50px;
    background: var(--corporate-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;    
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    cursor: pointer;
}

.benefits-tetle {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits-descriptions {
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--secondary-color)
}

.team {
    background-color: var(--bg-color);
}

.team-employee-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;    
    text-align: center;
    letter-spacing: 0.03em;
}

.team-position-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.contacts-footer {
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
}

.address-footer {
    color: var(--white-color);
}

.footer {
    background: #2F303A;
}


/* =====================portfolio.html======================= */



.portfolio-navigations {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: var(--bg-color);
}

.portfolio-navigations:hover,
.portfolio-navigations:focus {
    color: var(--white-color);
    background: var(--corporate-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-portfolio-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;    
    letter-spacing: 0.06em;
    color: var(--maim-color);
}

.section-portfolio-item-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color:var(--secondary-color);
}

